
.allplate, .main {
	width: 1020px;
	margin: 0 auto;
	margin-top: 20px;
}
.main {
	overflow: hidden;
}
.post-list {
	float: left;
	width: 770px;
}
.new-poster {
	float: right;
	width: 220px;
}

.sec-title {
	height: 36px;
	border-bottom: 1px solid #bfe0f1;
}
.sec-title-tab {
	display: inline-block;
	height: 100%;
	padding: 0 12px;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
	background-color: #0ea6f6;
	border-radius: 4px 4px 0 0;
}
.sec-title2 {
	height: 30px;
	padding-left: 10px;
	line-height: 30px;
	color: #fff;
	font-size: 16px;
	background-color: #0ea6f6;
	border-radius: 4px;
}
.sec-title2-link {
	float: right;
	margin-right: 10px;
	color: #fff;
}

.posters-list {
	padding-bottom: 12px;
	overflow: hidden;
}
.poster {
	position: relative;
	margin-top: 9px;
	height: 60px;
	overflow: hidden;
}
.poster-head {
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 10px;
	border-radius: 50%;
	vertical-align: top;
}
.poster-info {
	float: left;
	width: 130px;
}
.poster-name {
	font-size: 16px;
	font-weight: bold;
}
.poster-event {
	padding-top: 5px;
}
.poster-event span {
	margin-right: 5px;
}